<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src=""></script>
    <link rel="stylesheet" href="css/master.css">
    <link href='https://fonts.googleapis.com/css?family=Anonymous Pro' rel='stylesheet'>
    <title>HisQuiz</title>
  </head>
  <body>
          <div class="box">
                <h2> Your Results: </h2>
                <p><%=score%>/5</p>
                <p>Verdict:</p>
                <p><b><%=verdict%></b></p>
                <button onclick="location.href='http://localhost:9999/home'" >Return</button>
          </div>
  </body>
</html>
