<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src=""></script>
    <link rel="stylesheet" href="css/neomaster.css">
    <link rel="stylesheet" href="css/media.css">
    <title>HisQuiz</title>
  </head>
  <body>
    <div class="neobox">
          <h2> Your Results: </h2>
          <p><b><%=result.score%>/5</b></p>
          <p>Verdict:</p>
          <img class="result-image" src="<%= result.image%>"/>
          <p><b><%=result.verdict%></b></p>
          <button onclick="location.href='http://localhost:2551/hisapp'" >Return</button>
    </div>
  </body>
</html>
