@media screen and (max-width: 730px) {
  .flexbox{
    background-color: transparent;
    border: none;
    width: auto;
  }

  .header-text > h1{
    font-size: 1.5rem;
  }

  .subtext{
    font-size: .8rem;
  }

  form > h3, p{
    font-size: .7rem;
  }
}
