 @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


/* background-image: url('../imgs/background2.png'); */

body, html{
    margin: 0px;
    padding: 0px;
    font-family: 'Press Start 2P', cursive;
}


.wrapper{
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;

  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;

  background-image: url('../imgs/background2.png');
  background-size: cover;
}

.flexbox{
  display: flex;
  flex-flow: column wrap;
  background-color: white;

  padding: 1rem;
  border-radius: 25px;
  border: 1px solid black;
}

.header-text{
  align-self: center;
  text-align: center;
}

.header-text > h1{
  font-size: 2rem;
}

.subtext {
    font-size: .9rem;
    font-style: italic;
}

.center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.result-img{
    height: 250px;
    width: 350px;
}
